<div class="d-inline-block">
    <div class="d-inline-block" style="width: 50px; aspect-ratio: 1;">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
            <!--Image--><div style="width: 25px; aspect-ratio: 1;" class="bg-info"></div>
        </div>
    </div>
    <div class=" d-inline-block">
        <div class="stats-title">Total Machines</div>
        <div class="stats-text">@MachineCount</div>
    </div>
</div>
<div class="d-inline-block">
    <div class="d-inline-block" style="width: 50px; aspect-ratio: 1;">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
            <!--Image--><div style="width: 25px; aspect-ratio: 1;" class="bg-info"></div>
        </div>
    </div>
    <div class=" d-inline-block">
        <div class="stats-title">Online Machines</div>
        <div class="stats-text">@OnlineMachineCount</div>
    </div>
</div>
<div class="d-inline-block">
    <div class="d-inline-block" style="width: 50px; aspect-ratio: 1;">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
            <!--Image--><div style="width: 25px; aspect-ratio: 1;" class="bg-info"></div>
        </div>
    </div>
    <div class=" d-inline-block">
        <div class="stats-title">Offline Machines</div>
        <div class="stats-text">@OfflineMachineCount</div>
    </div>
</div>
<div class="d-inline-block">
    <div class="d-inline-block" style="width: 50px; aspect-ratio: 1;">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
            <!--Image--><div style="width: 25px; aspect-ratio: 1;" class="bg-info"></div>
        </div>
    </div>
    <div class=" d-inline-block">
        <div class="stats-title">Last Edited Machine</div>
        <div class="stats-text">@LastEditedMachineName</div>
    </div>
</div>

@code {
    [Parameter]
    public int MachineCount { get; set; }

    [Parameter]
    public int OnlineMachineCount { get; set; }

    [Parameter]
    public int OfflineMachineCount { get; set; }

    [Parameter]
    public string LastEditedMachineName { get; set; } = string.Empty;
}
