<div class="d-inline-block bg-body-secondary p-2 m-2 rounded">
    <div class="d-inline-block" style="width: 50px; aspect-ratio: 1;">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
            @if (ImagePath is not null) {
                <img src="@ImagePath" width="35" height="35" />
            } else {
                <div style="width: 35px; aspect-ratio: 1;" class="bg-info"></div>                
            }
        </div>
    </div>
    <div class="d-inline-block">
        <div class="stats-title">@StatTitle</div>
        <div class="stats-text">@StatText</div>
    </div>
</div>

@code {
    [Parameter]
    public string StatTitle { get; set; } = string.Empty;

    [Parameter]
    public string StatText { get; set; } = string.Empty;

    [Parameter]
    public string? ImagePath { get; set; }
}
