<nav class="navbar navbar-expand-lg" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="container-fluid d-flex">
        <button class="navbar-toggler" data-bs-toggler="collapse" data-bs-targer="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span>
            Företagsnamn
        </span>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <NavLink href="#" class="nav-link">
                    Home
                </NavLink>

                <NavLink href="dashboard" class="nav-link">
                    Dashboard
                </NavLink>
            </div>
        </div>        
    </div>
</nav>
