@using System.Text

<button class="btn btn-primary" @onclick="AddMachine">
    Add New Machine
</button>

@code {
    [Parameter]
    public EventCallback<MachineDto> OnAdd { get; set; }

    private async Task AddMachine()
    {
        if (!OnAdd.HasDelegate) {
            return;            
        }

        MachineDto machine = new(
            Id: Guid.NewGuid(),
            Name: GenerateName(),
            IsOnline: false,
            LastData: GenerateName(),
            LastUpdated: DateTime.Now
        );

        await OnAdd.InvokeAsync(machine);
    }

    private string GenerateName()
    {
        const string chars = "abcdefghijklmnopqrtuvwxyz";
        var rnd = new Random();
        StringBuilder output = new();
        for (int i = 0; i < rnd.Next(3, 10); i++) {
            output.Append(chars[rnd.Next(chars.Length)]);
        }
        output.Append($" {rnd.Next(100)}");
        return output.ToString();
    }
}
