<table class="w-100 table table-striped">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Status</th>
            <th class="text-center">Last Data</th>
            <th class="text-center">Last Updated</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var machine in Machines) {
            <MachineTableRow 
                Machine="machine"
                OnRemove="OnRemove"
                OnToggleStatus="OnToggleStatus"
                OnUpdateData="OnUpdateData" />
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<MachineDto> Machines { get; set; } = [];

    [Parameter]
    public EventCallback<Guid> OnRemove { get; set; }
    [Parameter]
    public EventCallback<Guid> OnToggleStatus { get; set; }
    [Parameter]
    public EventCallback<UpdateMachineDataDto> OnUpdateData { get; set; }
}
