<table class="w-100 table table-striped">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Status</th>
            <th class="text-center">Last Data</th>
            <th class="text-center">Last Updated</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var machine in Machines) {
            <MachineTableRow Machine="machine" />
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IReadOnlyList<Machine> Machines { get; set; } = [];
}
