<div class="container-fluid bg-body-secondary d-flex align-items-center flex-column py-4">
    <div class="row">
        <div class="col">
            <h3>Dashboard</h3>
        </div>
    </div>
    <div class="row gap-3">
        <div class="col-5 bg-light">
            <StatisticsSection 
                MachineCount="Machines.Count" 
                OnlineMachineCount="Machines.Count(m => m.IsOnline)" 
                OfflineMachineCount="Machines.Count(m => !m.IsOnline)"
                LastEditedMachineName="@Machines.OrderBy(m => m.LastUpdated).Last().Name" />
        </div>
        <div class="col-6 bg-light">
            <MachineOverviewTable Machines="Machines" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IReadOnlyList<Machine> Machines { get; set; } = [];
}