<div class="container-fluid bg-body-secondary d-flex align-items-center flex-column py-4">
    <div class="row">
        <div class="col">
            <h3>Dashboard</h3>
        </div>
    </div>
    <div class="row gap-3">
        <div class="col-5 bg-light p-3">
            <h3>Overview Statistics</h3>
            <StatisticsSection 
                MachineCount="Machines.Count" 
                OnlineMachineCount="Machines.Count(m => m.IsOnline)" 
                OfflineMachineCount="Machines.Count(m => !m.IsOnline)"
                LastEditedMachineName="@Machines.OrderBy(m => m.LastUpdated).Last().Name" />
        </div>
        <div class="col-6 bg-light px-0 py-3">
            <div class="d-flex justify-content-between">
                <h3 class="d-inline-block ps-3">List of Machines</h3>
                <div class="d-inline-block pe-3">
                    <AddMachineForm OnAdd="OnAdd" />
                </div>
            </div>
            <MachineOverviewTable 
                Machines="Machines" 
                OnRemove="OnRemove"
                OnToggleStatus="OnToggleStatus"
                OnUpdateData="OnUpdateData" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<MachineDto> Machines { get; set; } = [];

    [Parameter]
    public EventCallback<MachineDto> OnAdd { get; set; }
    [Parameter]
    public EventCallback<Guid> OnRemove { get; set; }
    [Parameter]
    public EventCallback<Guid> OnToggleStatus { get; set; }
    [Parameter]
    public EventCallback<UpdateMachineDataDto> OnUpdateData { get; set; }
}